.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  animation-name: wheel;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes wheel {
  0% {
    rotate: calc(0deg);
    background-color: red;
    /* margin-left: 100px; */
  }

  25% {
    rotate: calc(90deg);
    background-color: blue;
    margin-left: 100px;
  }

  50% {
    rotate: calc(180deg);
    background-color: orange;
    margin-left: 200px;
  }

  75% {
    rotate: calc(270deg);
    background-color: green;
    margin-left: 300px;
  }

  100% {
    rotate: calc(360deg);
    background-color: green;
    margin-left: 400px;
  }
  /* to {
    rotate: calc(360deg);
    margin-left: 400px;
  } */
}
